<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>linkd</h3>
    <ul>
        <li>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">contact</a>
            
        </li>
    </ul>




    
    <% for( let index = 0; index < 2; index++ ) { %>
        <h1 style="border: 1px solid red;">Hello <%= nama %></h1>
    <% } %>
    
    <% orang.forEach(o => { %>
     
        <ul style="border: 2px blue solid;">
            <li>Name: <%= o.nama %> </li>
            <li>Email : <%= o.email %> </li>
        </ul>
    <% }) %>

</body>
</html>